.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 10px 12px;

    color: var(--button-normal-color, #FFFFFF);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 16px);
    font-weight: var(--text-weight-bold, 600);

    line-height: var(--text-line-height-main, 20px);
    text-align: center;

    background-color: var(--button-normal-background-color, #000000);
    border: 2px solid var(--button-normal-border-color, #000000);
    border-radius: var(--border-radius-button, 8px);

    outline: none;

    cursor: pointer;
}

.button:hover {
    background-color: var(--button-normal-background-color_hover, #3C3C3C);

    border: 2px solid var(--button-normal-background-color_hover, #3C3C3C);
}

.button_buy {
    width: 100%;
    padding: 13px 25px;

    font-size: 19px;

    line-height: 27px;
}

.button_outlined {
    color: var(--button-outlined-color, #000000);

    background-color: var(--button-outlined-background-color, #FFFFFF);

    border: 2px solid var(--button-normal-border-color, #000000);
}

.button_outlined:hover {
    background-color: var(--button-outlined-background-color_hover, #EFEFEF);
}

.button_rounded {
    width: 37px;
    height: 37px;

    background-color: var(--button-rounded-background-color, #000000);

    border-radius: 50%;

    transition: all 0.3s ease;
}

.button_rounded:hover {
    background-color: var(--button-rounded-background-color_hover, #000000);

    transform: scale(1.15);
}

.button_plus {
    background-image: url("../images/button_plus.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}

.button_heart {
    background-image: url("../images/button_heart.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 19px 18px;
}


a.button {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .button_buy {
        width: 100%;
        padding: 14px 25px;
    
        font-size: 17px;
    
        line-height: 24px;
    }
}