.block-image {
    position: relative;
    width: 100%;
    max-width: var(--max-content-width, 1920px);
    margin: 0 auto;
}

.block-image__image {
    display: block;
    width: 100%;
    height: auto;
    min-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.block-image_contain .block-image__image {
    min-height: 0;
    object-fit: contain;
    overflow: auto;
}

.block-image__link {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.block-image__image_blank {
    display: block;
}

.block-image__image_blank-larger {
    display: none;
}

@media (max-width: 768px) {
    .block-image__image_blank {
        display: none;
    }

    .block-image__image_blank-larger {
        display: block;
    }
}
