.panel-single {
    display: block;
    width: clamp(190px, calc(37.3vw - 97px), 500px);
    padding: 0;

    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-single, 16px);
    font-weight: var(--text-weight-main, 400);

    line-height: var(--text-line-height-large, 24px);

    background-color: var(--background-color-main, #FFFFFF);
}

.panel-single__description {
    padding-bottom: 26px;
    margin-bottom: 30px;

    border-bottom: 1px solid var(--gray-light, #D2D7D7);

}

.panel-single__vendor {
    margin-bottom: 5px;
}

.panel-single__title {
    margin: 0 0 5px 0;

    font-size: 40px;
    font-weight: var(--text-weight-bold, 700);

    line-height: 44px;
}

.panel-single__subtitle {
    margin-bottom: 6px;

    color: var(--gray, #656565);
}

.panel-single__rating {
    margin-bottom: 6px;
}

.panel-single__price {
    font-size: 22px;

    line-height: 33px;
}

.panel__form {
    margin-bottom: 35px;    
}

.panel-single__features-header {
    font-weight: var(--text-weight-bold, 700);
}

@media (max-width: 768px) {
    .panel-single {
        font-size: var(--text-size-single_mobile, 15px);
    }

    .panel-single__description {
        padding-bottom: 20px;
        margin-bottom: 25px;
    }

    .panel-single__title {
        margin: 20px 0 6px 0;
    
        font-family: var(--text-family-menu, sans-serif);
        font-size: 30px;
    
        line-height: 33px;
    }

    .panel-single__subtitle {
        margin-bottom: 0px;
    
        font-size: 16px;
    }

    .panel-single__rating {
        margin-bottom: 0;
    }

    .panel-single__price {
        font-size: 17px;
    
        line-height: 26px;
    }

    .panel-single__features-list {
        padding-left: 30px;
    }

    .panel-single__feature {
        line-height: 20px;
    }
}